# IDE
.idea
*.iml

# Python
*.py[co]
/env
.venv
__pycache__

# Celery
celerybeat-schedule

#Redis
dump.rdb

# Application
*.mo
/static
/test-data

# Database
*.psql

# Mac
.DS_Store

# Environment
.env

# Assets
node_modules
/swp/static
/swp/assets/i18n
/swp/assets/schemes
/swp/assets/assets.map.json

# jupyter
*.ipynb
.ipynb_checkpoints/
