libqpdf-dev
libpython3.8-dev
libdrm2
libgbm1
libxshmfence1
postgresql-server-dev-13
python3-venv
npm
gettext
libx11-xcb1
libxcomposite1
libxcursor1
libxdamage1
libxi6
libxtst6
libnss3
libcups2
libxss1
libxrandr2
libasound2
libpangocairo-1.0-0
libatk1.0-0
libatk-bridge2.0-0
libgtk-3-0
