asgiref>=3.3.0
celery==5.0.5
cssselect==1.1.0
Django==4.1.13
django-elasticsearch-dsl==8.0
django-filter==2.4.0
djangorestframework==3.12.2
elasticsearch<9
pikepdf==5.6.1
playwright==1.27
polib==1.1.0
psycopg2==2.8.6
python-dotenv==0.15.0
redis==3.5.3
requests<3.0
sentry-sdk==2.24.1
tldextract==5.1.1
uWSGI==2.0.19.1
